* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: Arial, sans-serif;
}

.color-section {
    background-color: #171616;
    color: white;
}

.container-fluid {
    padding: 0% 3%;
}


.login-card {
    max-width: 400px;
    margin: 60px auto;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.btn-spotify {
    background-color: #1DB954;
    color: white;
    font-weight: bold;
}

.btn-spotify:hover {
    background-color: #1ed760;
}

.form-control {
    font-size:60px ;
    height: 100px;
    width: 70px;
    background-color: #282828;
    border: none;
    color: white;
}
.form-control:focus {
    background-color: #282828;
    color : white;
    box-shadow: none;
}
